.container {
}

.imgContainer {
  width: 50%;
  height: 400px;
  position: relative;
}

.img {
  object-fit: ;
}

.imgText {
}

.imgTitle {
}

.imgDesc {
}

.aboutContainer {
}

.secondImg {
}

.item {
}

.title {
}

.desc {
}
