.mainTitle {
  font-size: 100px;
  background: linear-gradient(to bottom, #ff4b3c, #12d11c, #1f84db);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
}

.selectTitle {
  margin: 20px 0px;
}

.items {
  display: flex;
  gap: 50px;
}

.item {
  border: 5px solid #bbb;
  border-radius: 5px;
  height: 400px;
  width: 300px;
  position: relative;
  background-size: cover !important;
}

.item:nth-child(1) {
  background-image: url("/illustration3.png");
}

.item:nth-child(2) {
  background-image: url("/websites.png");
}

.item:nth-child(3) {
  background-image: url("/apps.png");
}

.title {
  position: absolute;
  right: 10px;
  bottom: 10px;
  font-size: 40px;
  font-weight: bold;
}
